@import "../modules/container";

.heroblock {
  background: #000;

  &__container {
    @include container(1440px);
    color: #fff;

    padding-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    grid-template-areas:
      "image text";


    @media (max-width: 600px) {
      grid-template-areas:
        "text text"
        "image image";
    }
  }

  &__image-container {
    grid-area: image;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: end;
  }

  &__image {
    height: 100%;
    width: auto;

    @media (max-width: 600px) {
      width: 70%;
    }
  }

  &__right-container {
    grid-area: text;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
  }

  &__right-header {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
  }

  &__right-text {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @media (max-width: 1000px) {
      grid-template-columns: 1fr;
    }
  }

  &__ul li{
    margin-top: 0.2rem;
  }
}
