@import "../modules/container";

.quote {


  text-align: center;
  color: #000;
  background-color: #fff;

  &__container {
    @include container(1440px);


    padding-top: 4rem;
    padding-bottom: 4rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
}


