@import "../modules/container";

.chops {
  border-top: 1px solid #4d4d4d;
  border-bottom: 1px solid #4d4d4d;
  background-image: url("../img/juanita-swart-kodXe6ws26E-unsplash.jpg");
  background-size: cover;
  background-position: center center;
  color: #fff;
  padding-top: 8rem;
  padding-bottom: 8rem;
  display: flex;
  align-items: center;

  @media (max-width: 500px) {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  &__container {
    @include container(1440px);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3rem;

    @media (max-width: 800px) {
      grid-template-columns: 1fr;
    }
  }

  &__header {
    margin-bottom: 1rem;
  }

  &__left-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__right-block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
    column-gap: 0;

    @media (max-width: 500px) {
      grid-template-columns: 1fr;
    }
  }

  &__statistic-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    @media (max-width: 500px) {
      align-items: start;
    }
  }

}
