@import "../modules/container";

.clients {
  margin-top: 3rem;
  margin-bottom: 3rem;

  &__container {
    @include container(1440px);

  }

  &__advantages {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3rem;
    margin-top: 2rem;

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }

  &__advantage-image {
    height: 256px;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 768px) {
      justify-content: left;
    }
  }
}
